.model-full {
    width: 80% !important; 
}

:host ::ng-deep ng2-smart-table-pager {
    justify-content: center;
}

:host ::ng-deep .ng2-smart-filters input[placeholder="Equipe"] {
    pointer-events: none; /* Impede cliques e interações */
    background-color: #f2f2f2; /* Cor de fundo cinza para indicar desabilitado */
    color: #999; /* Cor do texto cinza */
    cursor: not-allowed; /* Muda o cursor para "não permitido" */
}

:host ::ng-deep .ng2-smart-filters input[placeholder="Raia"] {
    pointer-events: none; /* Impede cliques e interações */
    background-color: #f2f2f2; /* Cor de fundo cinza para indicar desabilitado */
    color: #999; /* Cor do texto cinza */
    cursor: not-allowed; /* Muda o cursor para "não permitido" */
}

:host ::ng-deep .ng2-smart-filters input[placeholder="Resultado"] {
    pointer-events: none; /* Impede cliques e interações */
    background-color: #f2f2f2; /* Cor de fundo cinza para indicar desabilitado */
    color: #999; /* Cor do texto cinza */
    cursor: not-allowed; /* Muda o cursor para "não permitido" */
}

:host ::ng-deep .ng2-smart-filters input[placeholder="Fase"] {
    pointer-events: none; /* Impede cliques e interações */
    background-color: #f2f2f2; /* Cor de fundo cinza para indicar desabilitado */
    color: #999; /* Cor do texto cinza */
    cursor: not-allowed; /* Muda o cursor para "não permitido" */
}

