
<nb-card>
  <nb-card-header>
    Etapas competições
  </nb-card-header>

  <nb-card-body>
    <div class="search-container">
      <select style="margin-bottom: 5px;" #search class="form-control" (change)="onCampeonatoChange(search.value)">
        <option value="">Selecione um Campeonato</option>
        <option *ngFor="let campeonato of campeonatos" [value]="campeonato.id">
          {{ campeonato.nome }}
        </option>
      </select>

      <ng2-smart-table [settings]="settings" [source]="source"
        (delete)="onDelete($event)"
        (edit)="onEdit($event)"
        (create)="onAdd()"
      >
      </ng2-smart-table>
    </div>
  </nb-card-body>
  
</nb-card>

