
@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

/*.modalidade-column {
  min-width: 200px; 
}*/

.modalidade-column {
  pointer-events: none; // Impede interação com a coluna
  opacity: 0.5; // Adiciona um efeito de desfoque
  text-align: center
  background-color #dc1818
  
  // Adicione outros estilos que você desejar para desabilitar
  // a aparência da coluna, como:
   //color: #1bde21; // Define a cor da coluna para cinza
   //background-color: #dc1818; // Define o fundo da coluna para cinza
   //cursor: default; // Define o cursor como padrão
}

:host ng2-smart-table { 
  font-size: 16px; 
}


.ng2-smart-table td.red-font {
  color: red !important; 
}

:host ng2-smart-table table > tbody > tr.hide-action > td > ng2-st-tbody-edit-delete {
  display:none;
  visibility: hidden;
}

