
:host {
    display: block;
    padding: 0px;

  // Aplica o estilo diretamente no componente nb-card, "furando" o encapsulamento
  ::ng-deep nb-card {
    background-color: #6b6868;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  ::ng-deep nb-card-body {
    flex-grow: 1;
    overflow: auto;
  }
}