<!-- Primeira seção: Logo e Nome da Empresa -->
<div class="header-container left-section">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo">{{ companyName || 'app-admin' }}</a>
  </div>
</div>

<!-- Segunda seção: Ações do Usuário (fixada à direita) -->
<div class="header-container right-section">
  <nb-actions size="small">
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="userMenu"
               [name]="user?.name"
               [picture]="user?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>