.pontua-buttons button[status="primary"] {
    background-color: #007bff; /* Azul escuro */
    color: #fff;
  }
  
  .pontua-buttons button[status="danger"] {
    background-color: #dc3545; /* Vermelho */
    color: #fff;
  }

  .pontua-options {
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  
  .pontua-options label {
    margin-right: 10px; 
    font-weight: bold;
  }
  
  .pontua-options label.selected {
    font-weight: bold; /* Adiciona destaque em negrito */
  }