.meu-botao {
    border: none;
    background-color: #f7f9fc;
}

.meu-botao-destacado-pontuaS {
    background-color: #cdc5c6;
}

.meu-botao-destacado-pontuaN {
    background-color: #cdc5c6;
}

.meu-botao-destacado-acumulaS {
    background-color: #cdc5c6;
}

.meu-botao-destacado-acumulaN {
    background-color: #cdc5c6;
}

.meu-botao-destacadoL {
    background-color: #cdc5c6;
}

.meu-botao-destacadoC {
    background-color: #cdc5c6;
}
